<html>
  <head>
    <title>About Me - Ben Cox</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
         </td>
        <td>
          <h1>I'm a computer science student in TUD and this is my AWS Project</h1>
		<img src="images/tud.jpg" alt="tud" >
        </td>
      </tr>
    </table>

    <p>This is a sample BIO about me.I'm from Wicklow and in my third year of college. I am an intern in Ocuco next year and my interests are computers and gaming</p>
	<a href="contacts.html">Contact Me</a>

  </body>
</html>
